header{
    text-align:center;
    font-family: Quicksand;
}
body{
    background-color: lavender;
    margin: 0 5cm 0;
    font-family: Quicksand; 
    font-size:large;
}

.Skylar{
    text-align: center;
}

.General{
    text-align:center;
}

h1{
    text-align: center;
    background-color: white;
    font-size: 2.2em}


.img-fluid{
    width: 300px;
    height: auto;
    margin-bottom:15px;
    margin-left: 50px;
    border-radius: 50%;
}


h2{
    text-align: center;
    font-size: 1.4em;
}

h3{
    text-align: center;
    font-size: 1.4em;
}

h4{
    text-align:center;
    font-size: 1.4em;
}

.Socials{
    text-align: center;
}

.Contact{
    text-align: center;
}

.Resume{
background-color: white;
text-align: center;
}

.Skills{
    background-color: white;
}

span{
font-weight: 600;
}

.articles{
    text-align: center;
}

.clippics{
    width: 175px;
    height:auto;
}